* {
  font-family: 'Times New Roman', Times, serif;
  margin:0;
  padding:0;
  gap:0;
  box-sizing: border-box;
}

.icon {
  height: 1em;
  width: auto;
  fill: white;
  align-self: baseline;
  margin-right: 10px;;
}

#dashboard-container {
  display:grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height:100vh;
  grid-template-areas:
  'sidebar header'
  'sidebar main-content';
}

.sidebar {
  grid-area: sidebar;
  background-color:royalblue ;
  color:white;
  display:grid;
  grid-template-rows: 1fr 5fr 7fr;
}

.side-list {
  display:grid;
  padding-left:10px;
  list-style: none;
  gap:20px;
  justify-content: left;
  align-content: center;
  font-size: large;
}

.side-list > * {
  justify-self:start;
  align-self: baseline;
  align-items: center;
}

#side-title {
  align-items: center;
  list-style: none;
  display:flex;
  gap:5px;
}

.header {
  grid-area: header;
  background-color: white;
  display:grid;
  grid-template-columns: 20px 3fr 20px 1fr;
  grid-template-rows: 1fr 2fr;
  column-gap: 15px;
  padding:10px;
}

.header > * {
  height: 2rem;
}

#search-text {
  width: 100%;
  background-color: rgb(240,240,240);
  border-radius: 100px;
  padding:5px;
}

#user-div {
  display:grid;
  grid-template-columns: 1fr 2fr;
  justify-content: start;
  align-content: center;
  margin-left: 30px;;
}

.big-icon, #user-div span {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-l2 {
  height: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px;
  gap:10px;
  align-self: center;
}

.right-l2 {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 3;
  grid-column-end: 5;
  gap:10px;
  align-self: center;
}

.header-btn {
  background-color: royalblue;
  color: white;
  width: 30%;
  border: 0;
  border-radius: 10px;
  height: 90%;
}

.main-content {
  display:grid;
  grid-area: main-content;
  background-color: lightsteelblue;
  grid-template-columns: 5fr 2fr;
}

#left {
  display:grid;
  padding:20px;
  grid-template-rows: 2rem 1fr ;
  
}

.projects {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:20px;
}

.card {
  height:170px;
  width: 47%;
  background-color: azure;
  border-radius: 5px;
  display:grid;
  padding:10px;
  border-left:solid 5px  orange;
}

#right {
  display:grid;
  grid-template-rows: 2rem 1fr 2rem 1fr;
  padding:20px; 
}

#announcements-board {
  background-color: aliceblue;
  height: 96%;
  border-radius: 5px;
  padding:10px;
}

#trending-board {
  background-color: aliceblue;
  height: 96%;
  border-radius: 5px;
  padding:10px;
}